In [1]:
import pandas as pd 

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [28]:
df = pd.read_csv('../dataset/Udemy_Cleaned.csv')

In [29]:
df.head()

,id,course_id,rate,date,display_name,comment,title,is_paid,price,headline,...,published_time,last_update_date,category,subcategory,topic,language,course_url,instructor_name,instructor_url,image
0,9388140,625204,5.0,2017-09-08T02:15:37-07:00,John Douglas,"examples are well thought through, the lessons...",The Web Developer Bootcamp 2022,True,199.99,COMPLETELY REDONE - The only course you need t...,...,2015-11-02 21:13:27+00:00,2022-07-01,Development,Web Development,Web Development,English,/course/the-web-developer-bootcamp/,Colt Steele,/user/coltsteele/,https://img-c.udemycdn.com/course/750x422/6252...
1,125232566,821278,4.0,2022-10-04T01:40:55-07:00,Tanya,Helps in increasing knowledge and run through ...,"INTERVIEW TRAINING: Ask Better Questions, Hire...",True,19.99,If you want to improve your hiring accuracy or...,...,2016-04-21 15:00:43+00:00,2017-01-31,Business,Management,Interviewing Skills,English,/course/advanced-interviewer-training/,James Colino,/user/james-colino/,https://img-b.udemycdn.com/course/750x422/8212...
2,57899017,567828,5.0,2020-06-09T05:51:08-07:00,Rohan,Yes. I don't feel overwhelmed about learning h...,2022 Complete Python Bootcamp From Zero to Her...,True,199.99,Learn Python like a Professional Start from t...,...,2015-10-12 21:42:53+00:00,2021-03-14,Development,Programming Languages,Python,English,/course/complete-python-bootcamp/,Jose Portilla,/user/joseportilla/,https://img-c.udemycdn.com/course/750x422/5678...
3,43107550,1352468,4.0,2020-01-06T06:01:41-08:00,Abhishek,Overall course was good except last two lectur...,Master Microservices with Spring Boot and Spri...,True,199.99,Java Spring Boot Microservices 5-in-1 - Spring...,...,2017-09-18 23:32:14+00:00,2022-10-03,Development,Web Development,Microservices,English,/course/microservices-with-spring-boot-and-spr...,in28Minutes Official,/user/in28minutes/,https://img-c.udemycdn.com/course/750x422/1352...
4,23581421,1915496,5.0,2018-11-25T19:35:03-08:00,Bryan T,I love the speech delivery speed and articulat...,Facebook Marketing - Build Facebook Messenger...,True,199.99,"Facebook marketing & Facebook ads: Design, dev...",...,2018-09-18 18:14:25+00:00,2019-06-05,Marketing,Digital Marketing,Facebook Marketing,English,/course/facebook-messenger-chatbot-marketing-t...,Isaac Rudansky,/user/isaac-rudansky/,https://img-c.udemycdn.com/course/750x422/1915...

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263591 entries, 0 to 263590
Data columns (total 26 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  263591 non-null  int64
 1   course_id           263591 non-null  int64
 2   rate                263591 non-null  float64
 3   date                263591 non-null  object
 4   display_name        263591 non-null  object
 5   comment             263591 non-null  object
 6   title               263591 non-null  object
 7   is_paid             263591 non-null  bool
 8   price               263591 non-null  float64
 9   headline            263591 non-null  object
 10  num_subscribers     263591 non-null  int64
 11  avg_rating          263591 non-null  float64
 12  num_reviews         263591 non-null  int64
 13  num_comments        263591 non-null  int64
 14  num_lectures        263591 non-null  int64
 15  content_length_min  263591 non-null  int64
 16  published_time      263591 non-null  object
 17  last_update_date    263591 non-null  object
 18  category            263591 non-null  object
 19  subcategory         263591 non-null  object
 20  topic               263591 non-null  object
 21  language            263591 non-null  object
 22  course_url          263591 non-null  object
 23  instructor_name     263591 non-null  object
 24  instructor_url      263591 non-null  object
 25  image               263591 non-null  object
dtypes: bool(1), float64(3), int64(7), object(15)
memory usage: 50.5+ MB

In [31]:
# get sample data; take 5%
df = df.sample(frac=0.2).reset_index(drop=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52718 entries, 0 to 52717
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  52718 non-null  int64
 1   course_id           52718 non-null  int64
 2   rate                52718 non-null  float64
 3   date                52718 non-null  object
 4   display_name        52718 non-null  object
 5   comment             52718 non-null  object
 6   title               52718 non-null  object
 7   is_paid             52718 non-null  bool
 8   price               52718 non-null  float64
 9   headline            52718 non-null  object
 10  num_subscribers     52718 non-null  int64
 11  avg_rating          52718 non-null  float64
 12  num_reviews         52718 non-null  int64
 13  num_comments        52718 non-null  int64
 14  num_lectures        52718 non-null  int64
 15  content_length_min  52718 non-null  int64
 16  published_time      52718 non-null  object
 17  last_update_date    52718 non-null  object
 18  category            52718 non-null  object
 19  subcategory         52718 non-null  object
 20  topic               52718 non-null  object
 21  language            52718 non-null  object
 22  course_url          52718 non-null  object
 23  instructor_name     52718 non-null  object
 24  instructor_url      52718 non-null  object
 25  image               52718 non-null  object
dtypes: bool(1), float64(3), int64(7), object(15)
memory usage: 10.1+ MB

In [33]:
unique_df = df.drop_duplicates(subset='title')
unique_df = unique_df[['course_id', 'title', 'category', 'subcategory', 'topic']]

In [34]:
unique_df.head()

,course_id,title,category,subcategory,topic
0,1562686,The Credit Analyst Training course,Finance & Accounting,Finance,Financial Analysis
1,760562,Git & GitHub Complete Masterclass : Beginner t...,Development,Software Development Tools,Git
2,1151036,Blockchain and Bitcoin Fundamentals,IT & Software,Other IT & Software,Bitcoin
3,1716630,Microservices Software Architecture: Patterns ...,Development,Software Engineering,Microservices
4,1747782,Adobe Photoshop CC – Essentials Training Course,Design,Graphic Design & Illustration,Photoshop

In [35]:
# Create a TfidfVectorizer object to transform the courses subcategory into a Tf-idf representation
def compute_similarity(df):
    sub = df['subcategory'].str.split('|').explode()
    
    tfidf = TfidfVectorizer(ngram_range=(1,2))
    tfidf_matrix = tfidf.fit_transform(sub)
    
    similarity = cosine_similarity(tfidf_matrix)
    return similarity

In [36]:
similarity_df = compute_similarity(unique_df)

In [37]:
similarity_df

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.13585527, ..., 0.13585527, 0.        ,
        0.        ],
       [0.        , 0.13585527, 1.        , ..., 1.        , 0.        ,
        0.20078843],
       ...,
       [0.        , 0.13585527, 1.        , ..., 1.        , 0.        ,
        0.20078843],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.20078843, ..., 0.20078843, 0.        ,
        1.        ]])

In [38]:
unique_df[unique_df['title'] == 'Python & Machine Learning for Financial Analysis']

,course_id,title,category,subcategory,topic
1082,3428726,Python & Machine Learning for Financial Analysis,Development,Data Science,Financial Analysis

In [40]:
similarity_df[1082]

array([0.        , 0.13585527, 1.        , ..., 1.        , 0.        ,
       0.20078843])

In [41]:
# Function to get the recommended course
def recommendations(title, top_n=10):
    # Find the index of the courses with the given title
    idx = unique_df[unique_df['title'] == title].index[0]

    # Get the cosine similarity scores for the courses
    similarity_scores = list(enumerate(similarity_df[idx]))

    # Sort the similarity scores in descending order
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

    # Get the top_n courses indices
    courses_indices = [i[0] for i in similarity_scores[1:top_n+1]]

    # Return the top_n most similar courses
    return unique_df['title'].iloc[courses_indices]

In [42]:
course = 'Python & Machine Learning for Financial Analysis'

recommendations(course)

19     Ultimate Kubernetes Fast-Track Beginner to Adv...
29     A Beginners Guide to Exadata Patching for Orac...
49      UiPath - The Complete RPA Training Course (2022)
80                           Microsoft Flow Crash Course
109    Spring MVC For Beginners - Build Java Web App ...
112                    Java Debugging With IntelliJ IDEA
127    Master Spring Microservices with Spring Boot &...
137                  The Complete C Programming Tutorial
148    RPA - Process Automation using UIPATH - Beginn...
175    Introduction to AWS - EC2 Deployment Fundamentals
Name: title, dtype: object

In [13]:
course = 'Python & Machine Learning for Financial Analysis'


sim = pd.DataFrame(similarity_df, index=unique_df['title'], columns=unique_df['title'])
def get_top_n(sim, title):

    
    course_index = sim.index.get_loc(title)
    
    top_10 = sim.iloc[course_index].sort_values(ascending=False)[1:11]
    return top_10.index.tolist()

In [14]:
get_top_n(similarity_df, course)

['Apache Spark Streaming 3 with Scala | Rock the JVM',
 'Deep Learning: Visual Exploration',
 'Natural Language Processing with Deep Learning in Python',
 'Intro to Big Data, Data Science and Artificial Intelligence',
 'Artificial Intelligence III - Deep Learning in Java',
 'R Programming – Hacks and Automation',
 'Automated Machine Learning for Beginners (Google & Apple)',
 'Modern Natural Language Processing in Python',
 'Species Distribution Models with GIS & Machine Learning in R',
 'Machine Learning 2022: Complete Maths for Machine Learning']

In [15]:
titles = unique_df['title'].tolist()
subcategory = unique_df['subcategory'].str.split("|").tolist()

In [16]:
def create_bow(subcategory):
    bow = {}
    for sub in subcategory:
        bow[sub] = 1
    return bow

In [17]:
bags_of_words = [create_bow(sub) for sub in subcategory]

In [18]:
sub_df = pd.DataFrame(bags_of_words, index=titles).fillna(0)

In [19]:
similarity = cosine_similarity(sub_df)

In [20]:
# Create a dataframe with the cosine similarity scores
sim = pd.DataFrame(similarity, index=sub_df.index, columns=sub_df.index)

In [21]:
get_top_n(sim, course)

['Apache Spark Streaming 3 with Scala | Rock the JVM',
 'Deep Learning: Visual Exploration',
 'Natural Language Processing with Deep Learning in Python',
 'Intro to Big Data, Data Science and Artificial Intelligence',
 'Artificial Intelligence III - Deep Learning in Java',
 'R Programming – Hacks and Automation',
 'Automated Machine Learning for Beginners (Google & Apple)',
 'Modern Natural Language Processing in Python',
 'Species Distribution Models with GIS & Machine Learning in R',
 'Machine Learning 2022: Complete Maths for Machine Learning']